优学院/传热学(第四版)高教.pdf
优学院/传热学第四版课后习题答案(杨世铭-陶文铨).pdf
优学院/传热学教学大纲-能源与动力工程-郭晓娟 何奎.docx
优学院/热能学生知识模块作业/热能学生知识模块作业/2015级能源1-3班导热模块复习成绩登记.docx
优学院/热能学生知识模块作业/热能学生知识模块作业/能源3班第一组导热模块复习.pptx
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/传热学/导热复习资料（第五组）.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/传热学/对流传热复习资料（第五组）.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/传热学（庞建超，刘华敏，冯宇）/传热学第2、3章总结（刘华敏）.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/传热学（庞建超，刘华敏，冯宇）/第六章.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/传热学（庞建超，刘华敏，冯宇）/第七章 相变对流传热.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/传热学（庞建超，刘华敏，冯宇）/第五章.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/对流传热复习(陈源坤、徐建元、王文豪)/传热学（第五章-第七章）复习.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/对流传热复习(陈源坤、徐建元、王文豪)/AUTORUN.INF
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/对流传热复习(陈源坤、徐建元、王文豪)/gdiplus.dll
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/对流传热复习(陈源坤、徐建元、王文豪)/intldate.dll
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/对流传热复习(陈源坤、徐建元、王文豪)/play.bat
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/对流传热复习(陈源坤、徐建元、王文豪)/playlist.txt
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/对流传热复习(陈源坤、徐建元、王文豪)/pptview.exe
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/对流传热复习(陈源坤、徐建元、王文豪)/ppvwintl.dll
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/对流传热复习(陈源坤、徐建元、王文豪)/pvreadme.htm
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/对流传热复习(陈源坤、徐建元、王文豪)/saext.dll
优学院/热能学生知识模块作业/热能学生知识模块作业/09级/对流传热复习(陈源坤、徐建元、王文豪)/unicows.dll
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/1周泽鑫团队.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/3陈锐东团队.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/5肖晓丽团队.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/2张朝军团队/黄涛-第三章.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/2张朝军团队/王燕-传热学.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/2张朝军团队/张朝军-4章.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/4王作伟团队/非稳态.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/4王作伟团队/罗伟聪传热学第二章2.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/4王作伟团队/总.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/6林晓萍团队/第三、四章.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/6林晓萍团队/林小萍第二章.ppt
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/6林晓萍团队/未命名.mp4
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/6林晓萍团队/总合成.avi
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/6林晓萍团队/总合成2.avi
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/6林晓萍团队/总合成3.avi
优学院/热能学生知识模块作业/热能学生知识模块作业/10级传热学复习PPT/6林晓萍团队/总合成4.avi
优学院/热能学生知识模块作业/热能学生知识模块作业/导热模块复习小组照/导热模块复习小组照/1.jpg
优学院/热能学生知识模块作业/热能学生知识模块作业/导热模块复习小组照/导热模块复习小组照/2.jpg
优学院/热能学生知识模块作业/热能学生知识模块作业/导热模块复习小组照/导热模块复习小组照/3.jpg
优学院/热能学生知识模块作业/热能学生知识模块作业/导热模块复习小组照/导热模块复习小组照/4.jpg
优学院/热能学生知识模块作业/热能学生知识模块作业/导热模块复习小组照/导热模块复习小组照/5.jpg
优学院/热能学生知识模块作业/热能学生知识模块作业/导热模块复习小组照/导热模块复习小组照/6.jpg
优学院/热能学生知识模块作业/热能学生知识模块作业/导热模块复习小组照/导热模块复习小组照/7.jpg
优学院/热能学生知识模块作业/热能学生知识模块作业/导热模块复习小组照/导热模块复习小组照/8.jpg
优学院/热能学生知识模块作业/热能学生知识模块作业/导热模块复习小组照/导热模块复习小组照/9.jpg
优学院/热能学生知识模块作业/热能学生知识模块作业/导热模块复习小组照/导热模块复习小组照/10.jpg
优学院/热能学生知识模块作业/热能学生知识模块作业/导热模块复习小组照/导热模块复习小组照/11.jpg
